/* --------------------------------------------------------
Style Sheet for Steve's Cafwe
version: 1.0
last modified: 10.16.2017 by Brian Kidd
author: Brian Kidd
email: brian.kidd.one@gmail.com
website: briankiddmedia.com
----------------------------------------------------------*/

header {
	background-color: #437034;
	width: 80%;
	height:25%;
}